
@{ViewData["Title"] = "Главная"; }


<section class="main_slider_area">
    <div class="main_slider">
        <div class="slider_item" style="background-image: url(../images/i0yJKRs-7OU.jpg);">
            <div class="overlay_bg one"></div>
            <div class="container">
                <div class="slider_text text-center slider_text_five">
                    <h2 data-animation="fadeInUp" data-delay="0.2s">
                       Это "Рыцари добра".
                    </h2>
                    <h3 data-animation="fadeInUp" data-delay="0.1s">
                        Социальная сеть для волонтёров.
                    </h3>
                   
                </div>
            </div>
        </div>
        <div class="slider_item" style=" background-image: url(../images/xNSci2MPOw4.jpg);
    ">
            <div class="overlay_bg two"></div>
            <div class="container">
                <div class="slider_text slider_text_four">
                    
                    <h2 data-animation="fadeInUp" data-delay="0.2s">
                        Мы помогаем сблизиться волонтёрам
                    </h2>
                   
                </div>
            </div>
        </div>
        <div class="slider_item" style="background-image: url('../images/_X7Vgd1m_m0.jpg');
    ">
            <div class="overlay_bg two"></div>
            <div class="container">
                <div class="slider_text slider_text_two">
                    <h3 data-animation="fadeInUp" data-delay="0.1s">
                        Ты не одинок!
                    </h3>
                    <h2 data-animation="fadeInUp" data-delay="0.2s">
                        Наша главная задача - помощь одиноким студентам, у которых нет друзей.
                    </h2>
                    
                </div>
            </div>
        </div>
        <div class="slider_item" style="background-image: url('../images/v3CIKIQhEIs.jpg'); ">
            <div class="overlay_bg one"></div>
            <div class="container">
                <div class="slider_text text-center">
                    <h2 data-animation="fadeInUp" data-delay="0.1s">
                        Рыцари добра.
                    </h2>
                    <h3 data-animation="fadeInUp" data-delay="0.3s">
                        Желаем всем удачи! Спасибо, что верите в нас!
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="slider_item" style="background-image: url('../images/rY49ueIxhPg.jpg');
">
            <div class="overlay_bg three"></div>
            <div class="container">
                <div class="slider_text slider_text_three">
                    <h2 data-animation="fadeInLeft" data-delay="0.2s">
                        Проект создан
                    </h2>
                    <ul class="list-unstyled">
                        <li data-animation="fadeInLeft" data-delay="0.3s">
                            <i class="fas fa-check-square"></i> Для популяризации проекта в массы и привлечения сторонников.
                        </li>
                        <li data-animation="fadeInLeft" data-delay="0.4s">
                            <i class="fas fa-check-square"></i> Для объединения и дальнейшего сотрудничества с крупными организациями Московского Политеха.
                        </li>
                        <li data-animation="fadeInLeft" data-delay="0.5s">
                            <i class="fas fa-check-square"></i> Для помощи студентам Московского Политеха!
                        </li>
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="slider_nav">
        <i class="fas fa-angle-left left_arrow"></i>
        <i class="fas fa-angle-right right_arrow"></i>
    </div>
</section>
<!-- about area -->
<section class="about_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="phone_mockup_two text-center wow fadeInLeft">
                    <img class="phone_one" src="~/images/eQEfBj_IeC0.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="about_content wow fadeInRight">
                    <h6>О нас</h6>
                    <h2>
                        Уважаемые друзья! Мы - <span>Рыцари добра</span>, добро пожаловать на наш
                        <span>сайт</span>.
                    </h2>
                    <p>
                        Наша программа разработана для того, чтобы делать жизнь студентов интереснее и разнообразнее. Данный
                        проект создан для объединения и сотрудничества с крупными организациями Московского политеха, что и
                        будет привлекать внимание аудитории.
                    </p>
                    <a asp-area="" asp-controller="Home" asp-action="Signup" class="theme_btn">Присоединиться к нам</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- demos area -->
<!-- Process area -->
<section class="process_area sec_pad bg_color">
    <div class="container">
        <div class="section_title text-center wow fadeInUp">
            <h2>Проект создан для</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="process_inner">
                    <div class="precess_item media wow fadeInUp">
                        <div class="icon">01</div>
                        <div class="media-body">
                            <a href="#">
                                <h6>Для всех желающих</h6>
                            </a>
                            <p>
                                Для популяризации проекта в массы для привлечения сторонников.
                            </p>
                        </div>
                    </div>
                    <div class="precess_item media wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon">02</div>
                        <div class="media-body">
                            <a href="#">
                                <h6>Для организаций</h6>
                            </a>
                            <p>
                                Для объединения и дальнейшего сотрудничества с крупными организациями Московского Политеха.
                            </p>
                        </div>
                    </div>
                    <div class="precess_item media wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon">03</div>
                        <div class="media-body">
                            <a href="#">
                                <h6>Для студентов</h6>
                            </a>
                            <p>
                                Для помощи студентам Московского Политеха!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="process_img wow fadeInRight" data-wow-delay="0.2s" style="
                  background: url(../images/BBpLf7MJ5Nk.jpg) no-repeat
                    center center/ contain;
                "></div>
            </div>
        </div>
    </div>
</section>
<!-- Process area -->
<!-- Testimonial area -->
<section class="testimonial_area sec_pad">
    <div class="container">
        <div class="section_title text-center wow fadeInUp">
            <h6>Наша цель</h6>
            <h2>Привлечение сторонников</h2>
        </div>
        <div class="testimonial_slider">
            <div class="item">
                <div class="testimonial_content">
                    <i class="fas fa-quote-right icon"></i>
                    <p>
                        Мы стараемся улучшать и развивать нашу программу так, чтобы она была интересна для разной аудитории.
                        Также мы хотим привлечь к нашему проекту сторонников, которые могли бы нас поддержать и помочь в
                        реализации дальнейших наших планов.

                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Testimonial area -->
<!-- clients logo area -->
<section class="clients_logo_area sec_pad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h2 class="text-white  mb-5" >Наши партнёры</h2>
            <a href="#"><img src="~/images/Партнёры.png" alt="" /></a>





            @*<div class="col-lg-3 col-sm-6 wow fadeInUp">
            <a href="#" class="c_logo_item"><img src="assets/img/home-one/Mountain.png" alt="" /></a>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
            <a href="#" class="c_logo_item"><img src="assets/img/home-one/Coffee.png" alt="" /></a>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
            <a href="#" class="c_logo_item"><img src="assets/img/home-one/Fisherman.png" alt="" /></a>
        </div>
        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
            <a href="#" class="c_logo_item"><img src="assets/img/home-one/Mountainbike.png" alt="" /></a>
        </div>*@
        </div>
    </div>
</section>
<!-- clients logo area -->
<!-- team area -->

