@model LoginViewModel
<section class="sign-in sec_pad">
    <div class="div-box">
        <div class="signin-container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Вход</h2>
                    <form class="register-form" id="login-form" asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label class="label-sign" for="your_name" asp-for="UserName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input class="input-sign" asp-for="UserName" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="form-group">
                            <label class="label-sign" for="your_pass" asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                            <input class="input-sign" asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>

                        <div class="form-group">
                            <label class="label-sign" asp-for="RememberMe"></label>
                            <input class="input-sign" asp-for="RememberMe" />

                            <span asp-validation-for="RememberMe"></span>
                        </div>
                        <div class="form-group form-button">
                            <input class="form-submit input-sign" type="submit" value="Войти" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
