<!-- Footer -->
 <!--<footer>
  <div class="footer_bottom navbar-fixed-bottom row-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <p>
              Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              All Rights Reserved.
            </p>
          </div>
          <div class="col-lg-7 col-md-6">
            <ul class="f_menu list-unstyled">
              <li><a href="index.html">Главная</a></li>
              <li><a href="/events.html">Мероприятия</a></li>
              <li><a href="#">Друзья</a></li>
              <li><a href="#">Личный кабинет</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>-->