@model IQueryable<ApplicationUser>
@{
    ViewData["Title"] = "Все";
}

<section class="team_area sec_pad">
    <div class="container">
        <div class="p_filter_info d-flex justify-content-center">

            <div id="portfolio_filter" class="portfolio_filter">
                <a class="work_portfolio_item " asp-controller="Friends" asp-action="All">Друзья</a>
                <a class="work_portfolio_item active" asp-controller="Friends" asp-action="Friends">Все</a>

            </div>
        </div>

        <div class="row">
            @if (Model.Any())
            {
                int count = 0;
                @foreach (ApplicationUser entity in Model)
                {
                    count++;
                    <div class="col-lg-3 col-sm-6">
                        <div class="team_item wow fadeInUp" data-wow-delay="0.2s">
                            <a asp-area="" asp-controller="Friends" asp-action="Friends" asp-route-id="@entity.Id">
                                <img class="img img_friend" src="~/images/@entity.UserImagePath" />
                            </a>
                            <div class="tema_content">
                                <a href="#"><h6>@entity.FirstName @entity.LastName</h6></a>
                                @if (@entity.UserName == "admin")
                                {
                                    <span class="font-weight-bold text-info">Админ</span>
                                }
                                else
                                {
                                    <span class="font-weight-bold">Волонтёр</span>
                                }
                            </div>

                        </div>
                    </div>
                }
                @if (count == 0)
                {
                    <div>
                        <p>
                            У вас пока нет друзей, добавьте их!
                        </p>
                        <img src="/images/4k4S0D7yoi0.jpg" alt="sing up image">
                    </div>
                }
            }
        </div>
    </div>
</section>